#about {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;

    .container {
        // margin: 200px 0;
        max-width: 970px;
        display: flex;
        gap: 80px;
        align-items: center;
    }
    
    .img-about {
        width: 350px;
        border-radius: 50px;
    }
    
    .description {
        line-height: 1.6;
        font-weight: 500;
        font-size: 17px;
    }
}