#home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .greeting {
        font-size: 50px;
        font-weight: 800;
        margin-bottom: 20px;
    }
    
    .container {
        max-width: 970px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    .intro {
        display: flex;
        align-items: center;
    }
    
    .hand {
        width: 50px;
    }

    .secondary-text {
        margin-bottom: 20px;
    }
    
    .bio-actions {
        display: flex;
        align-items: center;;
    }
    
    .resume-download {
        background-color: rgb(79, 79, 79);
        border: 1px solid grey;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 20px;
        transition: .3s;
        cursor: pointer;
        color: white;
    }
    
    .resume-download:hover {
        background-color: rgba(255, 166, 0, 1);
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        color: black;
    }
    
    .resume-download:active {
        background-color: rgba(255, 166, 0, 0.8);
    }
    
    .linkedin {
        font-size: 43px;
        color: rgb(79, 79, 79);
        transition: .3s;
        cursor: pointer;
    }
    
    .linkedin:hover {
        color: #0A66C2;
    }
    
    .linkedin:active {
        color: #0a66c2dc;
    }
    
    .avatar {
        object-fit: cover;
        height: 400px;
        // width: 350px;
        border-radius: 50%;
    }

    @media (max-width: 800px) {    
        .container {
            width: 100%;
            margin: 100px 20px;
            // justify-content: center;
            // align-items: center;
        }

        .intro {
            flex-direction: column-reverse;
            gap: 50px;
        }

        .greeting {
            font-size: 36px;
            text-align: center;
        }

        .hand {
            width: 40px;
        }

        .secondary-text {
            text-align: center;
        }

        .bio-actions {
            display: flex;
            justify-content: center;
        }

        .avatar {
            height: 300px;
        }
    }
}


/* #home {
    padding-top: 150px;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
} */

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 80px;
    max-width: 970px;
} */

// .container {
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: flex-start;
// }

// .content {
//     padding: 150px 0;
//     display: flex;
//     flex-direction: column;
//     max-width: 970px;
// }

// .intro {
//     display: flex;
//     align-items: center;
//     gap: 80px;
// }

// .hand {
//     width: 50px;
// }

// .short-bio {
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 1.4;
//     color: rgb(79, 79, 79);
//     padding-bottom: 14px;
// }

// .bio-actions {
//     display: flex;
//     align-items: center;;
// }

// .resume-download {
//     background-color: rgb(79, 79, 79);
//     border: 1px solid grey;
//     padding: 10px 20px;
//     font-size: 16px;
//     font-weight: 600;
//     border-radius: 20px;
//     transition: .3s;
//     cursor: pointer;
//     margin-right: 10px;
//     color: white;
// }

// .resume-download:hover {
//     background-color: rgba(255, 166, 0, 1);
//     box-shadow: 0 0 5px rgba(0,0,0,.2);
//     color: black;
// }

// .resume-download:active {
//     background-color: rgba(255, 166, 0, 0.8);
// }

// .linkedin {
//     font-size: 43px;
//     color: rgb(79, 79, 79);
//     transition: .3s;
//     cursor: pointer;
// }

// .linkedin:hover {
//     color: #0A66C2;
// }

// .linkedin:active {
//     color: #0a66c2dc;
// }

// .avatar {
//     object-fit: cover;
//     height: 400px;
//     width: 350px;
//     border-radius: 50%;
// }


/* @media (max-width: 1100px) {
    .cont-bio {
        padding: 0 60px;
        gap: 0;
    }
}

@media (max-width: 700px) {
    .short-bio h1 {
        font-size: 35px;
    }

    #hand {
        width: 35px;
    }

    #bio-info {
        margin-right: 0;
    }

    #cont-bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 60px;
    }
} */