.blog-post-name {
    list-style-type: none;
}

.blog-container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px;
    padding: 0 50px;
}

.blog-upper {

}

.blog-img {
    width: 100px;
    height: 100px;
    background-color: black;
}