nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
    box-sizing: border-box;
    /* margin-bottom: 50px; */
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    font-weight: 700;
}

.routes {
    max-width: 1100px;
    
    a {
        color: black;
        text-decoration: none;
        transition: .2s;
    }
    
    a:hover {
        color: orange;
    }
    
    a.active {
        border-bottom: 2px solid orange;
        padding-bottom: 5px;
    }

    ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
    }
}

.hamburger-icon {
    display: none;
    font-size: 32px;
    cursor: pointer;
    transition: .2s;
}

.hamburger-icon:hover {
    color: orange;
}

.home-logo {
    font-size: 25px;
    pointer-events: none;
    user-select: none;
}
.seperator {
    margin: 0 10px;
    cursor: default;
}

.seperator:hover {
    cursor: default;
}

.cont-side-nav.nav-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(238, 238, 238);
    animation: slideIn .15s ease-in-out;

    .sidebar-exit {
        font-size: 36px;
        height: 36px;
        transition: .2s;
        cursor: pointer;
        position: absolute;
        right: 40px;
        top: 22px;
    }

    .sidebar-exit:hover {
        color: orange;
    }

    .routes {
        display: flex;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 26px;
        gap: 50px;
        margin: 0;
        padding: 0;
    }
}

.cont-side-nav.nav-closed {
    display: none;
    animation: slideOut .2s ease-in-out;
}

@media (width < 800px) {
    .desktop-view {
        display: none;
    }
    
    .hamburger-icon {
        display: block;
    }
}

@keyframes slideIn {
    0% {
        left: -100%; /* Off-screen left */
        width: 0;
    }
    100% {
        left: 0; /* Slide to left: 0 means fully visible */
        width: 100%;
    }
}

@keyframes slideOut {
    0% {
        left: 0; /* Start on-screen */
    }
    100% {
        left: -100%; /* Slide to left and hide off-screen */
    }
}